In [1]:
import requests
import json
import pandas as pd
import numpy as np
import re
import math

response = requests.get('https://care.personcentredsoftware.com/mcm/api/v1/284748bf-6409-4367-887d-795f5458e954/organisationapi/Get/serviceusers?includeContacts=true').text;
response_info = json.loads(response)

In [2]:
# # returns the full name of the first service user
# userName = serviceUser['firstName'] + " " + serviceUser['lastName']

# # returns the room of the first service user
# userRoom = serviceUser['room']

# # returns an array with phone numbers of the first relationship of the first service user
# relationshipPhones = response_info[0]['serviceUsers'][0]['relationships'][0]['telephone']

# # returns true if the relationship is for an emergency contact
# isEmergencyContact = relationship['emergencyContact']

# # returns an array of the email of the first relationship of the first service user
# relationshipEmail = response_info[0]['serviceUsers'][0]['relationships'][0]['email']

In [3]:
firstNames = []
lastNames = []
userRooms = []
telephones = []
emergency = []
email = []
notes = []
emergencyName=[]

def getUserInformation(): 
    for serviceUser in response_info[0]['serviceUsers']:
        for relationship in serviceUser['relationships']:
            firstName = serviceUser['firstName']
            lastName = serviceUser['lastName']
            userRoom = serviceUser['room']
            relationshipPhones = relationship['telephone']
            isEmergencyContact = relationship['emergencyContact']
            relationshipEmail = relationship['email']
            relationshipNotes = relationship['notes']
            relationshipName=relationship['personName']
            
            firstNames.append(firstName)
            lastNames.append(lastName)
            userRooms.append(userRoom)
            telephones.append(relationshipPhones)
            emergency.append(isEmergencyContact)
            email.append(relationshipEmail) 
            notes.append(relationshipNotes)
            emergencyName.append(relationshipName)

In [4]:
getUserInformation()

In [5]:
flex_df = pd.DataFrame(columns=['Resident First Name','Resident Last Name','Resident Room','Emergency Contact','Contacts First Name','Phones','Contacts Email','Notes'])

In [6]:
flex_df['Resident First Name'] = firstNames
flex_df['Resident Last Name'] = lastNames
flex_df['Resident Room'] = userRooms
flex_df['Phones'] = telephones
flex_df['Emergency Contact'] = emergency
flex_df['Contacts First Name'] = emergencyName
flex_df['Contacts Email'] = email
flex_df['Notes'] = notes

In [7]:
flex_df

,Resident First Name,Resident Last Name,Resident Room,Emergency Contact,Contacts First Name,Phones,Contacts Email,Notes
0,Joyce,Oak,25,False,Mrs Nicola Papp,"[07885989677, 01291 672455]",[],PR:T
1,Joyce,Oak,25,False,Malpas Brook Health Centre,[01633 855808],[],None
2,Joyce,Oak,25,False,Mrs Yvonne Wyatt,"[01633 661130, 07810805054]",[derekandyvonnewyattskittlefish2512@gmail.com],None
3,Judith,Pring,6,False,Ms Tina Compton,"[07708 044 760, 01633 258248]",[],PR:T
4,Judith,Pring,6,False,Malpas Brook Health Centre,[01633 855808],[],None
...,...,...,...,...,...,...,...,...
99,Margaret,Fortey,18,True,Mr Stuart Fortey,[07760 415 766],[],PR:T
100,Margaret,Fortey,18,False,Heather Davies,[07787438343],[],None
101,Margaret,Fortey,18,False,Mr Gareth Fortey,[07508 750 421],[],None
102,Marian,Lewis,12,False,Bryngwyn Surgery,[01633 263463],[],None
103,Marian,Lewis,12,True,Mrs Angela Aitken,[07876 695 907],[angela.aitken13@gmail.com],PR:E

In [8]:
phone_data1 = []
phone_data2 = []

for index, row in flex_df.iterrows():
    if len(row['Phones']) > 1: 
        phone_data1.append(row['Phones'][0])
        phone_data2.append(row['Phones'][1])      
    elif len(row['Phones']) == 1:
      
        if len(row['Phones'][0]) > 0:
            phone_data1.append(row['Phones'][0])
            phone_data2.append(0) 
        else:
            phone_data1.append(0)
            phone_data2.append(0)

flex_df["Phone1"] = phone_data1
flex_df["Phone2"] = phone_data2

In [9]:
flex_df

,Resident First Name,Resident Last Name,Resident Room,Emergency Contact,Contacts First Name,Phones,Contacts Email,Notes,Phone1,Phone2
0,Joyce,Oak,25,False,Mrs Nicola Papp,"[07885989677, 01291 672455]",[],PR:T,07885989677,01291 672455
1,Joyce,Oak,25,False,Malpas Brook Health Centre,[01633 855808],[],None,01633 855808,0
2,Joyce,Oak,25,False,Mrs Yvonne Wyatt,"[01633 661130, 07810805054]",[derekandyvonnewyattskittlefish2512@gmail.com],None,01633 661130,07810805054
3,Judith,Pring,6,False,Ms Tina Compton,"[07708 044 760, 01633 258248]",[],PR:T,07708 044 760,01633 258248
4,Judith,Pring,6,False,Malpas Brook Health Centre,[01633 855808],[],None,01633 855808,0
...,...,...,...,...,...,...,...,...,...,...
99,Margaret,Fortey,18,True,Mr Stuart Fortey,[07760 415 766],[],PR:T,07760 415 766,0
100,Margaret,Fortey,18,False,Heather Davies,[07787438343],[],None,07787438343,0
101,Margaret,Fortey,18,False,Mr Gareth Fortey,[07508 750 421],[],None,07508 750 421,0
102,Marian,Lewis,12,False,Bryngwyn Surgery,[01633 263463],[],None,01633 263463,0
103,Marian,Lewis,12,True,Mrs Angela Aitken,[07876 695 907],[angela.aitken13@gmail.com],PR:E,07876 695 907,0

In [10]:
del flex_df['Phones']

In [11]:
flex_df

,Resident First Name,Resident Last Name,Resident Room,Emergency Contact,Contacts First Name,Contacts Email,Notes,Phone1,Phone2
0,Joyce,Oak,25,False,Mrs Nicola Papp,[],PR:T,07885989677,01291 672455
1,Joyce,Oak,25,False,Malpas Brook Health Centre,[],None,01633 855808,0
2,Joyce,Oak,25,False,Mrs Yvonne Wyatt,[derekandyvonnewyattskittlefish2512@gmail.com],None,01633 661130,07810805054
3,Judith,Pring,6,False,Ms Tina Compton,[],PR:T,07708 044 760,01633 258248
4,Judith,Pring,6,False,Malpas Brook Health Centre,[],None,01633 855808,0
...,...,...,...,...,...,...,...,...,...
99,Margaret,Fortey,18,True,Mr Stuart Fortey,[],PR:T,07760 415 766,0
100,Margaret,Fortey,18,False,Heather Davies,[],None,07787438343,0
101,Margaret,Fortey,18,False,Mr Gareth Fortey,[],None,07508 750 421,0
102,Marian,Lewis,12,False,Bryngwyn Surgery,[],None,01633 263463,0
103,Marian,Lewis,12,True,Mrs Angela Aitken,[angela.aitken13@gmail.com],PR:E,07876 695 907,0

In [12]:
email_list=[]

def emailChecker():

    for email in flex_df['Contacts Email']:
        if len(email[0])==0:
            email_list.append(0)
        else:
            email_list.append(email[0])
            
emailChecker()

In [13]:
del flex_df['Contacts Email']
flex_df['Contacts Email']= email_list
flex_df.head(15)

,Resident First Name,Resident Last Name,Resident Room,Emergency Contact,Contacts First Name,Notes,Phone1,Phone2,Contacts Email
0,Joyce,Oak,25,False,Mrs Nicola Papp,PR:T,07885989677,01291 672455,0
1,Joyce,Oak,25,False,Malpas Brook Health Centre,None,01633 855808,0,0
2,Joyce,Oak,25,False,Mrs Yvonne Wyatt,None,01633 661130,07810805054,derekandyvonnewyattskittlefish2512@gmail.com
3,Judith,Pring,6,False,Ms Tina Compton,PR:T,07708 044 760,01633 258248,0
4,Judith,Pring,6,False,Malpas Brook Health Centre,None,01633 855808,0,0
5,Judith,Pring,6,False,Ms June Woods,None,07928225203,0,0
6,Doreen,Sully,15,False,Kerry Dixon,None,01633 210208,0,kerri.dixon@newport.gov.uk
7,Doreen,Sully,15,False,Ms Carla Caruana,None,07723 599 123,0,0
8,Doreen,Sully,15,True,Mrs Diane Smolnik,PR:E,01633 881944,0,0
9,Doreen,Sully,15,False,Ms Kirsty Sully (Not sure of Surname),None,07528 434 496,0,0
10,Doreen,Sully,15,False,St Davids Clinic,None,01633 251133,0,0
11,Doreen,Sully,15,False,Malpas Brook Health Centre,None,01633 855808,0,0
12,Benjamin,Tiddlewinks,,False,Fred Bloggs,None,0,0,f.bloggs@pretend.com
13,Janet,Bateman,28,True,William Stephens,PR:T,07792 722126,0,0
14,Janet,Bateman,28,False,Rebecca Richards,None,07790 912 232,01633 656656,rebecca.richards@newport.gov.uk

In [15]:
mobile_list = []
landline_list = []

def telephoneChecker():
    for index, row in flex_df.iterrows():
# 0,0
        if row['Phone1'] == 0:
            mobile_list.append("Check Mobile")
            landline_list.append("Check Landline")
# Mobile + ?
        elif re.search("^07", row['Phone1']) is not None:
            if row['Phone2'] == 0:
# Mobile + 0
                mobile_list.append(row['Phone1'])
                landline_list.append("Check Landline")
# Mobile + Landline (or Mobile2)
            else:
                mobile_list.append(row['Phone1'])
                landline_list.append(row['Phone2'])  
        else:
# Landline + ?
            if row['Phone2'] == 0:
# Landline + 0
                landline_list.append(row['Phone1'])
                mobile_list.append("Check Mobile")
# Landline + Mobile (or Landline2)
            else:
                landline_list.append(row['Phone1'])
                mobile_list.append(row['Phone2'])

In [16]:
telephoneChecker()

In [17]:
flex_df['Contacts Mobile Phone'] = mobile_list
flex_df['Contacts Home Phone'] = landline_list
del flex_df['Phone1']
del flex_df['Phone2']
flex_df.tail()

,Resident First Name,Resident Last Name,Resident Room,Emergency Contact,Contacts First Name,Notes,Contacts Email,Contacts Mobile Phone,Contacts Home Phone
99,Margaret,Fortey,18,True,Mr Stuart Fortey,PR:T,0,07760 415 766,Check Landline
100,Margaret,Fortey,18,False,Heather Davies,None,0,07787438343,Check Landline
101,Margaret,Fortey,18,False,Mr Gareth Fortey,None,0,07508 750 421,Check Landline
102,Marian,Lewis,12,False,Bryngwyn Surgery,None,0,Check Mobile,01633 263463
103,Marian,Lewis,12,True,Mrs Angela Aitken,PR:E,angela.aitken13@gmail.com,07876 695 907,Check Landline

In [18]:
flex_df.to_csv(r'flex.csv')