In [ ]:
# TODO:
#     - location = Unit (done)
#     - room =  Resident Room (done)
#     - firstName = Resident First Name (done)
#     - lastName = REsident Last Name (done)
#     - personName = Contact Name (done)
#         - Home Phone
#         - Mobile Phone
#         - email = Contact Email

In [1]:
import requests
import json
import pandas as pd
import numpy as np
import os
import gc
import re
import math

response = requests.get('https://care.personcentredsoftware.com/mcm/api/v1/dc7d2fea-29a0-4a3d-98cc-b63789242bad/organisationapi/Get/serviceusers?includecontacts=true').text;

response_info = json.loads(response)

serviceuser_json = response_info[0]['serviceUsers']
users_df = pd.json_normalize(serviceuser_json)

relationships = serviceuser_json[1]['relationships']
relationships_df = pd.json_normalize(relationships)
relationships_data = pd.json_normalize(data=response_info[0]['serviceUsers'], record_path='relationships')

In [2]:
new_df = users_df[['lastName','firstName','room','location']]
relationships_df = relationships_data[['personName','emergencyContact','telephone','email']]

In [92]:
relationships_df.head(15)

,personName,emergencyContact,telephone,email,telephone1
0,Mrs Shileen Dubash,True,"[07753247043, 01403 217625]",[],07753247043
1,Ms Liz Davies,False,[],[],
2,Mr Simon-T4 Papworth,False,null,[simonpapworth6742@hotmail.com],n
3,Jonathan Demonstration,False,[],[jon@demo.mcm],
4,Mrs Jane Faulkner,False,"[01344412310, 07789755766]",[j@a.f],01344412310
5,Mr Simon Papworth,False,[06666491597],[s.papworth1@pcsw.care],06666491597
6,Mr Shaun Quasir,True,[],[sqr@demo.mcm],
7,Mrs Jane Greenhouse,False,[],[relative@clevercare.mcm],
8,Mrs Nicola Duhig,True,[],[nicola.bond@hotmail.co.uk],
9,Dr Alex Trompetus,False,[01264 213 123],[Alex.Trompetus@GPPratice.co.uk],01264 213 123
10,Mrs Shileen Dubash,True,"[07753247043, 01403 217625]",[],07753247043
11,Ms Liz Davies,False,[],[],
12,Mr Simon-T4 Papworth,False,"[01392 251 991, 07714 752 368]",[simonpapworth6742@hotmail.com],01392 251 991
13,Jonathan Demonstration,False,[],[jon@demo.mcm],
14,Mrs Jane Faulkner,False,"[01344412310, 07789755766]",[j@a.f],01344412310

In [93]:
phone1=[]
phone2=[]

# check the dictionaries in the telephone row
for index, row in relationships_df.iterrows():
    print(row['telephone'][1])
    
# if the dictionary is empty ([] has a length of 1 but the length of its child is 0) add 'null' to both lists
# else if the dictionary has a length of 1, run telephoneChecker for phone1 and append 'null' to phone2
# else (if the dictionary has a length of 2) run telephoneChecker for both phone 1 and phone 2

01403 217625

IndexError: list index out of range

SyntaxError: unexpected EOF while parsing (<ipython-input-89-1339618d6e40>, line 1)

In [ ]:
relationships_df = pd.DataFrame(relationships_df['telephone'].to_list(), columns=['Phone1','Phone2'])

In [ ]:
print(relationships_df)

In [ ]:
def telephoneChecker(relationships_telephone):
    number_type = re.search("^07", relationships_telephone)
    
    if relationships_telephone is None:
        telephone_type = 'Please Confirm'
    elif relationships_telephone == "None"
      telephone_type= "Please Confirm"
    elif number_type:
        telephone_type = 'Mobile' 
    else:
        telephone_type = 'Landline'
    
    return telephone_type

In [51]:
def telephoneList(): 

    if len(relationships_df['telephone'][1][0]) != 0:
#          telephoneChecker()
        return 'Success'
    else:
        relationships_df['telephone'][2] = 'null'
        return 'Please Call'

telephoneList()

C:\Users\Sotos\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Sotos\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

'Please Call'

In [ ]:
# # Returns 'Mobile'
# telephoneChecker(response_info[0]['serviceUsers'][0]['relationships'][0]['telephone'][0])
# # Returns 'Landline'
# telephoneChecker(response_info[0]['serviceUsers'][0]['relationships'][1]['telephone'][0]) 
# Returns 'Please Confirm'
response_info[0]['serviceUsers'][2]['EmergencyPhone'] = response_info[0]['serviceUsers'][2]['relationships'][1]['telephone'][0]

In [ ]:
print(response_info[0]['serviceUsers'][2]['EmergencyPhone'])

In [ ]:
numberTypes1 = []
for phone in relationships_df['Phone1']:
    numberType = telephoneChecker(phone)
    numberTypes1.append(numberType)

print(numberTypes1)
relationships_df['Phone1.type'] = numberTypes1

In [ ]:
numberTypes2 = []
for phone in relationships_df['Phone2']:
    numberType = telephoneChecker(phone)
    numberTypes2.append(numberType)

print(numberTypes2)
relationships_df['Phone2.type'] = numberTypes2

In [ ]:
relationships_df.head()